<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sfx_100_modbus_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <sfx_100_modbus_gui.Properties.Settings>
            <setting name="maxServoId" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="servoQueryTimeout" serializeAs="String">
                <value>300</value>
            </setting>
        </sfx_100_modbus_gui.Properties.Settings>
    </userSettings>
</configuration>