<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sfx_100_modbus_sfb_extension.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <sfx_100_modbus_sfb_extension.Properties.Settings>
            <setting name="maxServoId" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="servoQueryTimeout" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="comOptionsDataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="comOptionsParity" serializeAs="String">
                <value>Odd</value>
            </setting>
            <setting name="comOptionsStopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="comOptionsSpeed" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="comOptionsLastConnectedPort" serializeAs="String">
                <value />
            </setting>
            <setting name="comOptionsAutoConnectOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </sfx_100_modbus_sfb_extension.Properties.Settings>
    </userSettings>
</configuration>